<%# Define the places at the top of the file %>
  <% places = ["Australia", "Iceland", "Brazil"] %>
	
<%# Make the list of places %>
  <h1>Places I've been</h1>
	<ul>
		<% for place in places %>
		<li><%= place%></li>
		<% end %>
  </ul>